<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huishou_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{0,0},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{788,251},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{0,502},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{197,502},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{394,502},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{591,502},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{788,502},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{0,753},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{197,0},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{394,0},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{591,0},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{788,0},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{0,251},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{197,251},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{394,251},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huishou_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,251}</string>
                <key>spriteSourceSize</key>
                <string>{197,251}</string>
                <key>textureRect</key>
                <string>{{591,251},{197,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,171}</string>
                <key>spriteSourceSize</key>
                <string>{164,171}</string>
                <key>textureRect</key>
                <string>{{197,753},{164,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{361,753},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{317,1400},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{634,1400},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{0,1598},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{317,1598},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{634,1598},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{0,1796},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{317,1796},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{634,1796},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{678,753},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{0,1004},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{317,1004},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{634,1004},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{0,1202},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{317,1202},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{634,1202},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,198}</string>
                <key>spriteSourceSize</key>
                <string>{317,198}</string>
                <key>textureRect</key>
                <string>{{0,1400},{317,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alien.png</string>
            <key>size</key>
            <string>{995,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b824b069702311ea0c2805915a404277:c01c12e22be35fb2336365a719c95d43:de81843e51d646d6e87dbbac08c0c15a$</string>
            <key>textureFileName</key>
            <string>alien.png</string>
        </dict>
    </dict>
</plist>
