<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_fk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,266},{78,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,16}}</string>
                <key>sourceSize</key>
                <string>{78,16}</string>
            </dict>
            <key>a_fk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,408},{78,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,16}}</string>
                <key>sourceSize</key>
                <string>{78,16}</string>
            </dict>
            <key>a_fk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,393},{78,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,16}}</string>
                <key>sourceSize</key>
                <string>{78,16}</string>
            </dict>
            <key>a_fk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,255},{78,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,16}}</string>
                <key>sourceSize</key>
                <string>{78,16}</string>
            </dict>
            <key>a_fk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,176},{78,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,16}}</string>
                <key>sourceSize</key>
                <string>{78,16}</string>
            </dict>
            <key>dandou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,639},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>dandou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>dandou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,647},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>dandou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,617},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>dandou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,538},{108,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>dandou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,532},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>dandou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>dandou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,508},{108,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>dandou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,639},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>dansui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,403},{104,125}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,22},{104,125}}</string>
                <key>sourceSize</key>
                <string>{322,163}</string>
            </dict>
            <key>dansui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{172,145}}</string>
                <key>offset</key>
                <string>{31,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{172,145}}</string>
                <key>sourceSize</key>
                <string>{322,163}</string>
            </dict>
            <key>dansui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,148},{254,135}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,15},{254,135}}</string>
                <key>sourceSize</key>
                <string>{322,163}</string>
            </dict>
            <key>dansui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{290,129}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{290,129}}</string>
                <key>sourceSize</key>
                <string>{322,163}</string>
            </dict>
            <key>dansui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{268,123}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{268,123}}</string>
                <key>sourceSize</key>
                <string>{322,163}</string>
            </dict>
            <key>dansui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{296,101}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,55},{296,101}}</string>
                <key>sourceSize</key>
                <string>{322,163}</string>
            </dict>
            <key>dansui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{316,91}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,70},{316,91}}</string>
                <key>sourceSize</key>
                <string>{322,163}</string>
            </dict>
            <key>dansui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,81}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,81},{320,81}}</string>
                <key>sourceSize</key>
                <string>{322,163}</string>
            </dict>
            <key>dansui_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,403},{68,75}}</string>
                <key>offset</key>
                <string>{-76,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,88},{68,75}}</string>
                <key>sourceSize</key>
                <string>{322,163}</string>
            </dict>
            <key>jinbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,724},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>jinbi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,207},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>jinbi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,334},{21,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{21,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>jinbi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,148},{55,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>jinbi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,479},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>jinbi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,736},{59,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_frame.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0214a5edb65f742ce7799e079def2799:1/1$</string>
            <key>textureFileName</key>
            <string>ani_frame.png</string>
        </dict>
    </dict>
</plist>
