<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,253}</string>
                <key>spriteSourceSize</key>
                <string>{345,253}</string>
                <key>textureRect</key>
                <string>{{491,737},{345,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,190}</string>
                <key>spriteSourceSize</key>
                <string>{236,190}</string>
                <key>textureRect</key>
                <string>{{534,1},{236,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,65}</string>
                <key>spriteSourceSize</key>
                <string>{60,65}</string>
                <key>textureRect</key>
                <string>{{1112,864},{60,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,71}</string>
                <key>spriteSourceSize</key>
                <string>{38,71}</string>
                <key>textureRect</key>
                <string>{{1112,579},{38,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{1112,926},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,261}</string>
                <key>spriteSourceSize</key>
                <string>{488,261}</string>
                <key>textureRect</key>
                <string>{{1,737},{488,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,531}</string>
                <key>spriteSourceSize</key>
                <string>{734,531}</string>
                <key>textureRect</key>
                <string>{{1,1},{734,531}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,149}</string>
                <key>spriteSourceSize</key>
                <string>{551,149}</string>
                <key>textureRect</key>
                <string>{{534,579},{551,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,346}</string>
                <key>spriteSourceSize</key>
                <string>{576,346}</string>
                <key>textureRect</key>
                <string>{{838,1},{576,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,232}</string>
                <key>spriteSourceSize</key>
                <string>{229,232}</string>
                <key>textureRect</key>
                <string>{{534,193},{229,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{1087,619},{108,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,134}</string>
                <key>spriteSourceSize</key>
                <string>{182,134}</string>
                <key>textureRect</key>
                <string>{{534,424},{182,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1112,729},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,272}</string>
                <key>spriteSourceSize</key>
                <string>{267,272}</string>
                <key>textureRect</key>
                <string>{{838,730},{267,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,68}</string>
                <key>spriteSourceSize</key>
                <string>{61,68}</string>
                <key>textureRect</key>
                <string>{{1112,801},{61,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{58,75}</string>
                <key>textureRect</key>
                <string>{{772,1},{58,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,77}</string>
                <key>spriteSourceSize</key>
                <string>{52,77}</string>
                <key>textureRect</key>
                <string>{{772,78},{52,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{1185,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d63c299d02105b49af2f38b7db313068:d88f6c1791f324a5fd7e8e37eef9eb44:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
