<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{320,63},{70,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,69}</string>
                <key>spriteSourceSize</key>
                <string>{103,69}</string>
                <key>textureRect</key>
                <string>{{178,170},{103,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,65}</string>
                <key>textureRect</key>
                <string>{{69,170},{58,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,68}</string>
                <key>spriteSourceSize</key>
                <string>{51,68}</string>
                <key>textureRect</key>
                <string>{{127,170},{51,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,43}</string>
                <key>spriteSourceSize</key>
                <string>{52,43}</string>
                <key>textureRect</key>
                <string>{{183,63},{52,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bin_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,58}</string>
                <key>spriteSourceSize</key>
                <string>{29,58}</string>
                <key>textureRect</key>
                <string>{{268,110},{29,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgj_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,101}</string>
                <key>spriteSourceSize</key>
                <string>{120,101}</string>
                <key>textureRect</key>
                <string>{{0,342},{120,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgj_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,36}</string>
                <key>spriteSourceSize</key>
                <string>{31,36}</string>
                <key>textureRect</key>
                <string>{{307,26},{31,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgj_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{77,26},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgj_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{315,0},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgj_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{195,0},{34,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgj_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{0,26},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgj_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{414,63},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dgj_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,19}</string>
                <key>spriteSourceSize</key>
                <string>{28,19}</string>
                <key>textureRect</key>
                <string>{{167,0},{28,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fty_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,60}</string>
                <key>spriteSourceSize</key>
                <string>{83,60}</string>
                <key>textureRect</key>
                <string>{{362,110},{83,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fty_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{57,75}</string>
                <key>textureRect</key>
                <string>{{94,242},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fty_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,11}</string>
                <key>spriteSourceSize</key>
                <string>{62,11}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fty_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{0,63},{33,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fty_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,25}</string>
                <key>spriteSourceSize</key>
                <string>{33,25}</string>
                <key>textureRect</key>
                <string>{{383,0},{33,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fty_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{434,0},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fty_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{177,26},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaban_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{263,242},{101,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaban_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{131,63},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaban_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,17}</string>
                <key>spriteSourceSize</key>
                <string>{57,17}</string>
                <key>textureRect</key>
                <string>{{93,0},{57,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,101}</string>
                <key>spriteSourceSize</key>
                <string>{108,101}</string>
                <key>textureRect</key>
                <string>{{120,342},{108,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{131,26},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{20,26},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,45}</string>
                <key>spriteSourceSize</key>
                <string>{85,45}</string>
                <key>textureRect</key>
                <string>{{235,63},{85,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{380,170},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppg_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{75,63},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppg_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,52}</string>
                <key>spriteSourceSize</key>
                <string>{57,52}</string>
                <key>textureRect</key>
                <string>{{43,110},{57,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppg_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,58}</string>
                <key>spriteSourceSize</key>
                <string>{65,58}</string>
                <key>textureRect</key>
                <string>{{297,110},{65,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppg_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,60}</string>
                <key>spriteSourceSize</key>
                <string>{69,60}</string>
                <key>textureRect</key>
                <string>{{0,170},{69,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xcz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,70}</string>
                <key>spriteSourceSize</key>
                <string>{99,70}</string>
                <key>textureRect</key>
                <string>{{281,170},{99,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xcz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,21}</string>
                <key>spriteSourceSize</key>
                <string>{48,21}</string>
                <key>textureRect</key>
                <string>{{335,0},{48,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xcz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{279,0},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xcz_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{24,46}</string>
                <key>textureRect</key>
                <string>{{390,63},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xcz_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{0,110},{43,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xcz_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,55}</string>
                <key>spriteSourceSize</key>
                <string>{115,55}</string>
                <key>textureRect</key>
                <string>{{100,110},{115,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaol_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,73}</string>
                <key>spriteSourceSize</key>
                <string>{94,73}</string>
                <key>textureRect</key>
                <string>{{0,242},{94,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaol_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,37}</string>
                <key>spriteSourceSize</key>
                <string>{84,37}</string>
                <key>textureRect</key>
                <string>{{338,26},{84,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaol_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{215,110},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaol_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{33,63},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaol_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,28}</string>
                <key>textureRect</key>
                <string>{{93,26},{38,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaol_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,19}</string>
                <key>spriteSourceSize</key>
                <string>{50,19}</string>
                <key>textureRect</key>
                <string>{{229,0},{50,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaol_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,19}</string>
                <key>textureRect</key>
                <string>{{150,0},{17,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xmf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{151,242},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xmf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{153,26},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xmf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{41,26},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xmf_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{255,26},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xmf_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,15}</string>
                <key>spriteSourceSize</key>
                <string>{31,15}</string>
                <key>textureRect</key>
                <string>{{62,0},{31,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xmf_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{281,26},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xmf_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{416,0},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xsd_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,128}</string>
                <key>spriteSourceSize</key>
                <string>{104,128}</string>
                <key>textureRect</key>
                <string>{{350,342},{104,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xsd_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{203,26},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xsd_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{229,26},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xzd_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{228,342},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chongwu.png</string>
            <key>size</key>
            <string>{454,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aad0e3d68642f8ea4a6ffe8e9b15df9b:1ea60bb6783e8b9e92840d403d9aa56f:42cdc6d009eef134e3a2f5adc7010965$</string>
            <key>textureFileName</key>
            <string>chongwu.png</string>
        </dict>
    </dict>
</plist>
