<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{82,72}</string>
                <key>textureRect</key>
                <string>{{144,0},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{82,69}</string>
                <key>textureRect</key>
                <string>{{226,0},{82,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{82,69}</string>
                <key>textureRect</key>
                <string>{{308,0},{82,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,171}</string>
                <key>spriteSourceSize</key>
                <string>{164,171}</string>
                <key>textureRect</key>
                <string>{{0,77},{164,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,152}</string>
                <key>spriteSourceSize</key>
                <string>{254,152}</string>
                <key>textureRect</key>
                <string>{{164,77},{254,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{67,0},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>feidie.png</string>
            <key>size</key>
            <string>{418,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a2e45830c7eb103e4690e806dce0f4b:9398494c21213487c72c4cab7b4a607e:050d23bc45d6fda65696b700afc50bce$</string>
            <key>textureFileName</key>
            <string>feidie.png</string>
        </dict>
    </dict>
</plist>
