<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feidie.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{244,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,180}}</string>
                <key>sourceSize</key>
                <string>{244,180}</string>
            </dict>
            <key>y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{789,381}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{789,381}}</string>
                <key>sourceSize</key>
                <string>{799,415}</string>
            </dict>
            <key>y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{345,408}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,408}}</string>
                <key>sourceSize</key>
                <string>{347,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameDecorate.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dcb9abec1b942f46963b122e984bec7:1/1$</string>
            <key>textureFileName</key>
            <string>gameDecorate.png</string>
        </dict>
    </dict>
</plist>
