<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_xsyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,578},{105,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,110}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>bg_xsyd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,874},{123,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,134}}</string>
                <key>sourceSize</key>
                <string>{123,134}</string>
            </dict>
            <key>boss_jd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,578},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>boss_jd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,293},{86,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>boss_jd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,704},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>dan_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,225},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>dl_bg_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,514},{58,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>dl_bg_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,514},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>dl_bg_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,514},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>dl_bg_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,514},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>dl_bg_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,515},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>dl_bg_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,515},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>dl_bg_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,515},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>hs_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,311},{266,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,152}}</string>
                <key>sourceSize</key>
                <string>{266,152}</string>
            </dict>
            <key>icon_gwhs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{125,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,97}}</string>
                <key>sourceSize</key>
                <string>{125,97}</string>
            </dict>
            <key>icon_hyzl_xn.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,344},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>icon_jsq.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,723},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>icon_kssh.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,949},{71,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{71,69}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>icon_kssh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,877},{71,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{71,69}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>icon_kssh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,689},{71,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{71,69}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>icon_kssh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,805},{71,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{71,69}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>icon_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,729},{127,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,130}}</string>
                <key>sourceSize</key>
                <string>{127,130}</string>
            </dict>
            <key>icon_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,225},{178,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,186}}</string>
                <key>sourceSize</key>
                <string>{178,186}</string>
            </dict>
            <key>icon_ys.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,471},{71,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{71,71}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>icon_yyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,322},{63,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{63,85}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>icon_yyj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,225},{67,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{67,87}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>icon_zdwy.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,393},{71,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{71,77}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>sd_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,578},{105,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,125}}</string>
                <key>sourceSize</key>
                <string>{105,125}</string>
            </dict>
            <key>shuoming1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,222}}</string>
                <key>sourceSize</key>
                <string>{520,222}</string>
            </dict>
            <key>sj_bg_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{322,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,323}}</string>
                <key>sourceSize</key>
                <string>{322,323}</string>
            </dict>
            <key>sj_bg_sd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{295,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,78}}</string>
                <key>sourceSize</key>
                <string>{295,78}</string>
            </dict>
            <key>sj_bg_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,408},{106,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,56}}</string>
                <key>sourceSize</key>
                <string>{106,56}</string>
            </dict>
            <key>sj_bg_sjms.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,693},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>sj_ng_dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{308,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,152}}</string>
                <key>sourceSize</key>
                <string>{308,152}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,983},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>tj_jdt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>tj_jdt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,304},{18,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,10}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>tj_js_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,983},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>tx_npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,931},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>tx_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,845},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>ty_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,408},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ty_bg_ecqr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{230,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,177}}</string>
                <key>sourceSize</key>
                <string>{230,177}</string>
            </dict>
            <key>ty_dhk.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,728},{116,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,76}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>ty_jdt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,17},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>ty_jdt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,315},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{30,14}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>wy_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,860},{66,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,122}}</string>
                <key>sourceSize</key>
                <string>{66,122}</string>
            </dict>
            <key>wy_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,404},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>wy_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{143,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,32}}</string>
                <key>sourceSize</key>
                <string>{143,32}</string>
            </dict>
            <key>wy_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,578},{114,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,102}}</string>
                <key>sourceSize</key>
                <string>{114,102}</string>
            </dict>
            <key>yq_jd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,58},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>yq_jd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,346},{24,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,11}}</string>
                <key>sourceSize</key>
                <string>{24,11}</string>
            </dict>
            <key>yx_bg_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,693},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>yx_bg_jsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,704},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>yx_jd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,99},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>yx_jd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,315},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>yx_js_jscj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,240},{63,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,18}}</string>
                <key>sourceSize</key>
                <string>{63,18}</string>
            </dict>
            <key>yx_js_jsjy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,176},{63,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,18}}</string>
                <key>sourceSize</key>
                <string>{63,18}</string>
            </dict>
            <key>yx_js_jszd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,112},{63,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,18}}</string>
                <key>sourceSize</key>
                <string>{63,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameLayer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55bf99364a881adf7597c1594beb9529:1/1$</string>
            <key>textureFileName</key>
            <string>gameLayer.png</string>
        </dict>
    </dict>
</plist>
