<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gstj_moster_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,637},{76,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{76,110}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>gstj_moster_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{66,92}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{66,92}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>gstj_moster_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,714},{72,98}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{72,98}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>gstj_moster_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,569},{92,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{92,110}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>gstj_moster_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,714},{68,94}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{68,94}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>gstj_moster_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,729},{100,90}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{100,90}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>gstj_moster_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,758},{94,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{94,96}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>gstj_moster_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,661},{106,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{106,96}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>gstj_moster_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,532},{110,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>master_bangbangtang.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,455},{76,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>master_binggan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{70,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{70,104}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>master_daerduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{96,116}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>master_gaopang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{94,98}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{94,98}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>master_huapen.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,662},{66,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{66,106}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>master_mianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,899},{78,84}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{78,84}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>master_mifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,568},{110,92}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>master_muzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{88,64}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,52},{88,64}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>master_tao.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,820},{78,94}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{78,94}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>tj_bg_m2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,456},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,455},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,342},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,116},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,343},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,342},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,229},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,230},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,229},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,116},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,116},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>tj_bg_m_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_master.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007cb24fd46c0f857dfc586cda36e6d6:1/1$</string>
            <key>textureFileName</key>
            <string>game_master.png</string>
        </dict>
    </dict>
</plist>
