<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>air1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,711},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>air2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1132},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>auto_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{172,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,44}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>bg1_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,738},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>bg2_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1123},{76,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,41}}</string>
                <key>sourceSize</key>
                <string>{76,41}</string>
            </dict>
            <key>bg_cjjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{370,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{370,131}}</string>
                <key>sourceSize</key>
                <string>{376,135}</string>
            </dict>
            <key>bg_cjws.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,624},{368,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{368,131}}</string>
                <key>sourceSize</key>
                <string>{376,135}</string>
            </dict>
            <key>bg_hdjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{372,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{372,129}}</string>
                <key>sourceSize</key>
                <string>{376,135}</string>
            </dict>
            <key>bg_jsxcj.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,543},{362,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{362,117}}</string>
                <key>sourceSize</key>
                <string>{364,121}</string>
            </dict>
            <key>bg_syjc.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,919},{302,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{302,112}}</string>
                <key>sourceSize</key>
                <string>{304,116}</string>
            </dict>
            <key>bg_xslb.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,806},{302,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{302,112}}</string>
                <key>sourceSize</key>
                <string>{304,114}</string>
            </dict>
            <key>bg_xslw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{376,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{376,131}}</string>
                <key>sourceSize</key>
                <string>{376,135}</string>
            </dict>
            <key>bianbian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1081},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>bianbian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,573},{77,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,25}}</string>
                <key>sourceSize</key>
                <string>{77,25}</string>
            </dict>
            <key>bianbian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,323},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>bt_cjqh.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1069},{61,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,147}}</string>
                <key>sourceSize</key>
                <string>{61,147}</string>
            </dict>
            <key>cd_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1128},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>cd_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1137},{34,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>cd_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,756},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,37}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>cd_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1099},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>cjws_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,353},{402,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,270}}</string>
                <key>sourceSize</key>
                <string>{402,270}</string>
            </dict>
            <key>fbjl_bg_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1087},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>fbjl_bg_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,353},{292,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,90}}</string>
                <key>sourceSize</key>
                <string>{292,90}</string>
            </dict>
            <key>fbjl_bg_djd.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1148},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>fbjl_bg_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,106}}</string>
                <key>sourceSize</key>
                <string>{532,106}</string>
            </dict>
            <key>fbjl_bg_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,906},{147,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,139}}</string>
                <key>sourceSize</key>
                <string>{147,139}</string>
            </dict>
            <key>fbjl_bt_jqjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{208,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,47}}</string>
                <key>sourceSize</key>
                <string>{208,47}</string>
            </dict>
            <key>free_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1177},{186,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,42}}</string>
                <key>sourceSize</key>
                <string>{186,42}</string>
            </dict>
            <key>free_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{484,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,350}}</string>
                <key>sourceSize</key>
                <string>{484,350}</string>
            </dict>
            <key>free_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,806},{262,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,64}}</string>
                <key>sourceSize</key>
                <string>{262,64}</string>
            </dict>
            <key>free_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1046},{94,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,76}}</string>
                <key>sourceSize</key>
                <string>{94,76}</string>
            </dict>
            <key>gift_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,967},{113,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,116}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,302},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,936},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1167},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>hamburger.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,430},{118,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,112}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>icon_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1081},{177,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,86}}</string>
                <key>sourceSize</key>
                <string>{177,86}</string>
            </dict>
            <key>jsxcj_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{423,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,192}}</string>
                <key>sourceSize</key>
                <string>{423,192}</string>
            </dict>
            <key>kqxyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{234,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,41}}</string>
                <key>sourceSize</key>
                <string>{234,41}</string>
            </dict>
            <key>phb_bg_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1087},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>phb_bg_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1165},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>phb_bg_3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1117},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>phb_bg_ds1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,378},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>phb_bg_ds2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,367},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>phb_bg_ds3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,356},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>phb_bg_gw.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,624},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>phb_bg_hs.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1032},{66,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>qlp_bg_qlp.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1062},{285,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{285,123}}</string>
                <key>sourceSize</key>
                <string>{289,125}</string>
            </dict>
            <key>qlp_bt_fxhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1032},{257,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,54}}</string>
                <key>sourceSize</key>
                <string>{257,54}</string>
            </dict>
            <key>sd_bg_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,670},{265,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,126}}</string>
                <key>sourceSize</key>
                <string>{265,126}</string>
            </dict>
            <key>sd_bg_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,782},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>sd_bg_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1137},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sd_bg_spd.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,109},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,651},{59,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,23}}</string>
                <key>sourceSize</key>
                <string>{59,23}</string>
            </dict>
            <key>ty_hdts.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1207},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1138},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>xslb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{402,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,270}}</string>
                <key>sourceSize</key>
                <string>{402,270}</string>
            </dict>
            <key>xslb_fxhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{186,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,42}}</string>
                <key>sourceSize</key>
                <string>{186,42}</string>
            </dict>
            <key>xslb_gxtg.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,756},{335,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,49}}</string>
                <key>sourceSize</key>
                <string>{335,49}</string>
            </dict>
            <key>xslb_ld.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1046},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>xslb_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1087},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>xslb_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1087},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>xslb_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,835},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>yx_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1057},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>yx_bg_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,212},{217,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,101}}</string>
                <key>sourceSize</key>
                <string>{217,101}</string>
            </dict>
            <key>yx_jd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,343},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameIcon.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80c8bc37f8fda507c60886e81e83bf72:1/1$</string>
            <key>textureFileName</key>
            <string>gameIcon.png</string>
        </dict>
    </dict>
</plist>
