<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sd_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{679,160}</string>
                <key>spriteSourceSize</key>
                <string>{679,160}</string>
                <key>textureRect</key>
                <string>{{0,0},{679,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj_bg_ms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,17}</string>
                <key>spriteSourceSize</key>
                <string>{377,17}</string>
                <key>textureRect</key>
                <string>{{0,160},{377,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj_bg_pldms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{377,160},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj_bg_pssm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{392,160},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tj_bg_xz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{404,160},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,64}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{450,160},{190,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameUpdate.png</string>
            <key>size</key>
            <string>{679,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18a40640cb40fdc9ca3ee06f69b65ed7:bf039473b3aa50dfcafb2c7a60d5ee65:d988b090ad7035a2ecbb7da3710dad94$</string>
            <key>textureFileName</key>
            <string>gameUpdate.png</string>
        </dict>
    </dict>
</plist>
