<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gw_bgr_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,197}</string>
                <key>spriteSourceSize</key>
                <string>{88,197}</string>
                <key>textureRect</key>
                <string>{{331,1},{88,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_bgr_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,94}</string>
                <key>spriteSourceSize</key>
                <string>{36,94}</string>
                <key>textureRect</key>
                <string>{{348,401},{36,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_bgr_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,89}</string>
                <key>spriteSourceSize</key>
                <string>{45,89}</string>
                <key>textureRect</key>
                <string>{{301,418},{45,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_db_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,169}</string>
                <key>spriteSourceSize</key>
                <string>{132,169}</string>
                <key>textureRect</key>
                <string>{{197,1},{132,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_db_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,133}</string>
                <key>spriteSourceSize</key>
                <string>{74,133}</string>
                <key>textureRect</key>
                <string>{{331,205},{74,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_db_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{606,378},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_db_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{500,91},{20,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_db_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,15}</string>
                <key>spriteSourceSize</key>
                <string>{45,15}</string>
                <key>textureRect</key>
                <string>{{585,407},{45,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_mht_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,210}</string>
                <key>spriteSourceSize</key>
                <string>{194,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mht_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{21,23}</string>
                <key>textureRect</key>
                <string>{{598,476},{21,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_mht_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,11}</string>
                <key>spriteSourceSize</key>
                <string>{27,11}</string>
                <key>textureRect</key>
                <string>{{348,497},{27,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mty_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,132}</string>
                <key>spriteSourceSize</key>
                <string>{124,132}</string>
                <key>textureRect</key>
                <string>{{197,172},{124,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_mty_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{592,117},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mty_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,68}</string>
                <key>spriteSourceSize</key>
                <string>{71,68}</string>
                <key>textureRect</key>
                <string>{{464,281},{71,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mty_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{386,401},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mty_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{602,409},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mty_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,71}</string>
                <key>spriteSourceSize</key>
                <string>{95,71}</string>
                <key>textureRect</key>
                <string>{{466,208},{95,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mty_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,58}</string>
                <key>spriteSourceSize</key>
                <string>{71,58}</string>
                <key>textureRect</key>
                <string>{{464,351},{71,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mzg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,112}</string>
                <key>spriteSourceSize</key>
                <string>{167,112}</string>
                <key>textureRect</key>
                <string>{{331,91},{167,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mzg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{440,411},{45,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_mzg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{499,455},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_mzg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{602,446},{28,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_tzg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{114,102}</string>
                <key>textureRect</key>
                <string>{{530,1},{114,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_tzg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,81}</string>
                <key>spriteSourceSize</key>
                <string>{107,81}</string>
                <key>textureRect</key>
                <string>{{192,418},{107,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tzg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{24,38}</string>
                <key>textureRect</key>
                <string>{{572,454},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_tzg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,35}</string>
                <key>spriteSourceSize</key>
                <string>{64,35}</string>
                <key>textureRect</key>
                <string>{{537,342},{64,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_xhp_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,118}</string>
                <key>spriteSourceSize</key>
                <string>{125,118}</string>
                <key>textureRect</key>
                <string>{{337,281},{125,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xhp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,68}</string>
                <key>spriteSourceSize</key>
                <string>{121,68}</string>
                <key>textureRect</key>
                <string>{{69,432},{121,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xhp_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{30,40}</string>
                <key>textureRect</key>
                <string>{{606,336},{30,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xhp_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,49}</string>
                <key>spriteSourceSize</key>
                <string>{42,49}</string>
                <key>textureRect</key>
                <string>{{489,411},{42,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_xhp_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{540,408},{44,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_xhp_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{587,282},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gw_xhp_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{456,458},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xmf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,118}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{188,298},{147,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xmf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{500,117},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gw_xmf_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,38}</string>
                <key>spriteSourceSize</key>
                <string>{68,38}</string>
                <key>textureRect</key>
                <string>{{386,459},{68,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xww_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,185}</string>
                <key>spriteSourceSize</key>
                <string>{217,185}</string>
                <key>textureRect</key>
                <string>{{1,213},{217,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xww_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{563,208},{72,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xww_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{41,44}</string>
                <key>textureRect</key>
                <string>{{592,165},{41,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xww_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{539,476},{33,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xww_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,63}</string>
                <key>spriteSourceSize</key>
                <string>{30,63}</string>
                <key>textureRect</key>
                <string>{{574,342},{30,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xww_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,66}</string>
                <key>spriteSourceSize</key>
                <string>{77,66}</string>
                <key>textureRect</key>
                <string>{{1,432},{77,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xww_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{48,58}</string>
                <key>textureRect</key>
                <string>{{537,282},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hxlc.png</string>
            <key>size</key>
            <string>{639,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ed5e11c29ca40f12055f32c8e61f80a:8b5f60274e79f4c3d1f3d055df592e3a:594246a001ec3784b269cc90925e5a27$</string>
            <key>textureFileName</key>
            <string>hxlc.png</string>
        </dict>
    </dict>
</plist>
