<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{0,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{1278,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{142,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{284,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{426,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{568,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{710,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{852,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{994,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shou9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{142,132}</string>
                <key>textureRect</key>
                <string>{{1136,0},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>points.png</string>
            <key>size</key>
            <string>{1420,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbecb4a9320102612574a2ebbb088dc8:b8e4be25683633a15bf09f0a2e874b7b:a12779cb365c42bcd84b2c6295de506b$</string>
            <key>textureFileName</key>
            <string>points.png</string>
        </dict>
    </dict>
</plist>
