<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xyzp_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>xyzp_bg_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{768,806}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,806}}</string>
                <key>sourceSize</key>
                <string>{768,806}</string>
            </dict>
            <key>xyzp_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1283},{654,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,654}}</string>
                <key>sourceSize</key>
                <string>{654,654}</string>
            </dict>
            <key>xyzp_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{177,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>xyzp_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1938},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>xyzp_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1938},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>xyzp_bg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,488},{141,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{149,140}</string>
            </dict>
            <key>xyzp_bg_deng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,340},{210,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{210,325}}</string>
                <key>sourceSize</key>
                <string>{222,337}</string>
            </dict>
            <key>xyzp_bg_deng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{222,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,337}}</string>
                <key>sourceSize</key>
                <string>{222,337}</string>
            </dict>
            <key>xyzp_bt_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1938},{99,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,109}}</string>
                <key>sourceSize</key>
                <string>{101,111}</string>
            </dict>
            <key>xyzp_bt_bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1938},{77,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,102}}</string>
                <key>sourceSize</key>
                <string>{77,102}</string>
            </dict>
            <key>xyzp_bt_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1938},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>xyzp_bt_roll_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,179},{308,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,144}}</string>
                <key>sourceSize</key>
                <string>{308,144}</string>
            </dict>
            <key>xyzp_bt_roll_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,629},{308,124}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{308,124}}</string>
                <key>sourceSize</key>
                <string>{308,144}</string>
            </dict>
            <key>xyzp_icon_bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,179},{60,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{60,51}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>xyzp_icon_ck.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1938},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>xyzp_icon_gs.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,290},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{56,51}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>xyzp_icon_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,231},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>xyzp_icon_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1938},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>xyzp_icon_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1938},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>xyzp_jdt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2001},{285,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,41}}</string>
                <key>sourceSize</key>
                <string>{285,41}</string>
            </dict>
            <key>xyzp_jdt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2011},{271,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{271,27}}</string>
                <key>sourceSize</key>
                <string>{285,41}</string>
            </dict>
            <key>xyzp_jdt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1938},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turnTable.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b45be8c74f63c0b72df3e3bdf2e1af6:1/1$</string>
            <key>textureFileName</key>
            <string>turnTable.png</string>
        </dict>
    </dict>
</plist>
