<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_Layer_AlertTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,94},{490,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,77}}</string>
                <key>sourceSize</key>
                <string>{490,77}</string>
            </dict>
            <key>game_Layer_LoginBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,572},{152,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,147}}</string>
                <key>sourceSize</key>
                <string>{152,147}</string>
            </dict>
            <key>game_Layer_LoginChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,585},{304,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,148}}</string>
                <key>sourceSize</key>
                <string>{304,148}</string>
            </dict>
            <key>game_Layer_LoginChooseBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,246},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>game_Layer_LoginCloseBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,80},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>game_Layer_LoginNo.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,525},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>game_Layer_LoginTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,94},{490,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,77}}</string>
                <key>sourceSize</key>
                <string>{490,77}</string>
            </dict>
            <key>game_Layer_LoginYes.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,504},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>game_Layer_btCancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,504},{169,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,67}}</string>
                <key>sourceSize</key>
                <string>{169,67}</string>
            </dict>
            <key>game_Layer_btSure.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,574},{169,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,67}}</string>
                <key>sourceSize</key>
                <string>{169,67}</string>
            </dict>
            <key>game_Layer_inviCloseBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,276},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>game_Layer_inviItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,872},{152,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,147}}</string>
                <key>sourceSize</key>
                <string>{152,147}</string>
            </dict>
            <key>game_Layer_inviItemBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,178},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>game_Layer_inviShareBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,572},{169,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,65}}</string>
                <key>sourceSize</key>
                <string>{169,65}</string>
            </dict>
            <key>game_Layer_inviShareGetBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,572},{169,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,65}}</string>
                <key>sourceSize</key>
                <string>{169,65}</string>
            </dict>
            <key>game_Layer_inviTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,94},{490,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,77}}</string>
                <key>sourceSize</key>
                <string>{490,77}</string>
            </dict>
            <key>game_Layer_offLinesp.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,94},{220,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,162}}</string>
                <key>sourceSize</key>
                <string>{220,162}</string>
            </dict>
            <key>game_Layer_shopBtLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,48},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>game_Layer_shopBtRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,45}</string>
            </dict>
            <key>game_Layer_shopTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{490,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,77}}</string>
                <key>sourceSize</key>
                <string>{490,77}</string>
            </dict>
            <key>game_Layer_shopbar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,890},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>game_Layer_shopbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,890},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>game_Layer_shopitemBt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,315},{139,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,188}}</string>
                <key>sourceSize</key>
                <string>{139,188}</string>
            </dict>
            <key>game_Layer_shopitemBt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,585},{139,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,188}}</string>
                <key>sourceSize</key>
                <string>{139,188}</string>
            </dict>
            <key>game_Layer_speedChooseBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{329,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,168}}</string>
                <key>sourceSize</key>
                <string>{329,168}</string>
            </dict>
            <key>game_Layer_speedClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,80},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>game_Layer_speedLook.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,525},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>game_Layer_speedTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{490,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,77}}</string>
                <key>sourceSize</key>
                <string>{490,77}</string>
            </dict>
            <key>game_LayeroffLineBt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,315},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_LayeroffLineTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,77}}</string>
                <key>sourceSize</key>
                <string>{490,77}</string>
            </dict>
            <key>game_LayeroffLinebt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,315},{209,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,65}}</string>
                <key>sourceSize</key>
                <string>{209,65}</string>
            </dict>
            <key>game_layer_speedBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,872},{152,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,147}}</string>
                <key>sourceSize</key>
                <string>{152,147}</string>
            </dict>
            <key>sp_fadeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>sp_login0.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,148},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>sp_login1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,80},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>sp_login2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,742},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>sp_login3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,744},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>sp_login4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,774},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>sp_login5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,774},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>sp_login6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,915},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>sp_loginChose.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_Layer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525676dc91ea4bae037fdfcbe0c89561:1/1$</string>
            <key>textureFileName</key>
            <string>game_Layer.png</string>
        </dict>
    </dict>
</plist>
