<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_Layer_LoginBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,171},{152,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,147}}</string>
                <key>sourceSize</key>
                <string>{152,147}</string>
            </dict>
            <key>game_Layer_LoginCloseBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,171},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>game_Layer_rankBtBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{403,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,68}}</string>
                <key>sourceSize</key>
                <string>{403,68}</string>
            </dict>
            <key>game_Layer_rankFriBt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,377},{121,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,41}}</string>
                <key>sourceSize</key>
                <string>{121,41}</string>
            </dict>
            <key>game_Layer_rankFriBt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,377},{121,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,41}}</string>
                <key>sourceSize</key>
                <string>{121,41}</string>
            </dict>
            <key>game_Layer_rankItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,80},{436,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,90}}</string>
                <key>sourceSize</key>
                <string>{436,90}</string>
            </dict>
            <key>game_Layer_rankLeftBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,171},{205,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,68}}</string>
                <key>sourceSize</key>
                <string>{205,68}</string>
            </dict>
            <key>game_Layer_rankRichBt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,377},{121,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,42}}</string>
                <key>sourceSize</key>
                <string>{121,42}</string>
            </dict>
            <key>game_Layer_rankRichBt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,377},{121,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,42}}</string>
                <key>sourceSize</key>
                <string>{121,42}</string>
            </dict>
            <key>game_Layer_rankRightBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,171},{205,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,68}}</string>
                <key>sourceSize</key>
                <string>{205,68}</string>
            </dict>
            <key>game_Layer_rankTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,77}}</string>
                <key>sourceSize</key>
                <string>{490,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_Rank.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:046fdf1ce9ffbc244c6f9f7f885ca638:1/1$</string>
            <key>textureFileName</key>
            <string>game_Rank.png</string>
        </dict>
    </dict>
</plist>
