<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ARM_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,897},{29,74}}</string>
                <key>offset</key>
                <string>{-21,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,159},{29,74}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>ARM_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,100},{23,78}}</string>
                <key>offset</key>
                <string>{-36,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,141},{23,78}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>ARM_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,124},{61,44}}</string>
                <key>offset</key>
                <string>{-32,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,138},{61,44}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>ARM_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,856},{61,40}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,134},{61,40}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>A_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{93,208}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{93,208}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,432},{85,212}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{85,212}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,664},{85,212}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{85,212}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,639},{87,210}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{87,210}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,424},{99,208}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{99,208}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{95,210}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{95,210}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,213},{95,210}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{95,210}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,428},{95,210}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{95,210}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,633},{95,208}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{95,208}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,215},{83,212}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,1},{83,212}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{87,212}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{87,212}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>A_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{85,212}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{85,212}}</string>
                <key>sourceSize</key>
                <string>{123,214}</string>
            </dict>
            <key>B_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,645},{96,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{96,210}}</string>
                <key>sourceSize</key>
                <string>{122,226}</string>
            </dict>
            <key>B_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{98,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{98,208}}</string>
                <key>sourceSize</key>
                <string>{122,226}</string>
            </dict>
            <key>B_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,213},{98,208}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{98,208}}</string>
                <key>sourceSize</key>
                <string>{122,226}</string>
            </dict>
            <key>B_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,211},{94,208}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{94,208}}</string>
                <key>sourceSize</key>
                <string>{122,226}</string>
            </dict>
            <key>B_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,631},{94,206}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{94,206}}</string>
                <key>sourceSize</key>
                <string>{122,226}</string>
            </dict>
            <key>B_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,422},{94,208}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{94,208}}</string>
                <key>sourceSize</key>
                <string>{122,226}</string>
            </dict>
            <key>B_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{96,210}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{96,210}}</string>
                <key>sourceSize</key>
                <string>{122,226}</string>
            </dict>
            <key>C_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,420},{79,203}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{79,203}}</string>
                <key>sourceSize</key>
                <string>{115,217}</string>
            </dict>
            <key>C_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{83,201}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{83,201}}</string>
                <key>sourceSize</key>
                <string>{115,217}</string>
            </dict>
            <key>C_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{81,197}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{81,197}}</string>
                <key>sourceSize</key>
                <string>{115,217}</string>
            </dict>
            <key>C_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,284},{79,197}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{79,197}}</string>
                <key>sourceSize</key>
                <string>{115,217}</string>
            </dict>
            <key>C_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,204},{79,199}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{79,199}}</string>
                <key>sourceSize</key>
                <string>{115,217}</string>
            </dict>
            <key>C_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,624},{79,201}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{79,201}}</string>
                <key>sourceSize</key>
                <string>{115,217}</string>
            </dict>
            <key>D_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,897},{111,213}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{111,213}}</string>
                <key>sourceSize</key>
                <string>{143,229}</string>
            </dict>
            <key>D_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,674},{95,215}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{95,215}}</string>
                <key>sourceSize</key>
                <string>{143,229}</string>
            </dict>
            <key>D_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,448},{93,215}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{93,215}}</string>
                <key>sourceSize</key>
                <string>{143,229}</string>
            </dict>
            <key>D_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,456},{87,217}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{87,217}}</string>
                <key>sourceSize</key>
                <string>{143,229}</string>
            </dict>
            <key>D_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,679},{87,217}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{87,217}}</string>
                <key>sourceSize</key>
                <string>{143,229}</string>
            </dict>
            <key>D_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{87,217}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{87,217}}</string>
                <key>sourceSize</key>
                <string>{143,229}</string>
            </dict>
            <key>D_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{95,215}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{95,215}}</string>
                <key>sourceSize</key>
                <string>{143,229}</string>
            </dict>
            <key>D_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,218},{109,213}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{109,213}}</string>
                <key>sourceSize</key>
                <string>{143,229}</string>
            </dict>
            <key>down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,231},{83,216}}</string>
                <key>offset</key>
                <string>{-144,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,71},{83,216}}</string>
                <key>sourceSize</key>
                <string>{397,296}</string>
            </dict>
            <key>down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{113,172}}</string>
                <key>offset</key>
                <string>{-103,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,115},{113,172}}</string>
                <key>sourceSize</key>
                <string>{397,296}</string>
            </dict>
            <key>down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,838},{145,184}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,38},{145,184}}</string>
                <key>sourceSize</key>
                <string>{397,296}</string>
            </dict>
            <key>down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,364},{91,186}}</string>
                <key>offset</key>
                <string>{24,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,47},{91,186}}</string>
                <key>sourceSize</key>
                <string>{397,296}</string>
            </dict>
            <key>down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,228}}</string>
                <key>offset</key>
                <string>{39,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,66},{115,228}}</string>
                <key>sourceSize</key>
                <string>{397,296}</string>
            </dict>
            <key>down6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,856},{153,168}}</string>
                <key>offset</key>
                <string>{120,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,120},{153,168}}</string>
                <key>sourceSize</key>
                <string>{397,296}</string>
            </dict>
            <key>pick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,842},{139,176}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,94},{139,176}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>pick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,211},{101,202}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,65},{101,202}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>pick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{101,222}}</string>
                <key>offset</key>
                <string>{-34,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,46},{101,222}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>pick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{113,224}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{113,224}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{97,80}}</string>
                <key>offset</key>
                <string>{25,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,187},{97,80}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{97,80}}</string>
                <key>offset</key>
                <string>{18,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,154},{97,80}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{97,80}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,107},{97,80}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
            <key>w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{97,80}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,99},{97,80}}</string>
                <key>sourceSize</key>
                <string>{179,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameHero.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b15f52a057ff3a796f3926aad594f18:1/1$</string>
            <key>textureFileName</key>
            <string>gameHero.png</string>
        </dict>
    </dict>
</plist>
