<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>btn_greed_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{97,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>btn_red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{97,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,102}}</string>
                <key>sourceSize</key>
                <string>{97,102}</string>
            </dict>
            <key>btn_yellow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_ui.png</string>
            <key>size</key>
            <string>{400,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8993dc2a8fda746c65c50ec4352ac8e5:1/1$</string>
            <key>textureFileName</key>
            <string>game_ui.png</string>
        </dict>
    </dict>
</plist>
