<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowEast.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,866},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>arrowEast1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,866},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>arrowNorth.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,866},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>arrowNorth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,866},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>arrowSouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,973},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
            <key>arrowSouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,866},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
            <key>beicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,557},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>bt_rankList.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,866},{61,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,89}}</string>
                <key>sourceSize</key>
                <string>{61,89}</string>
            </dict>
            <key>bt_reform.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,586},{185,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,89}}</string>
                <key>sourceSize</key>
                <string>{185,89}</string>
            </dict>
            <key>bt_rents.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,586},{185,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,88}}</string>
                <key>sourceSize</key>
                <string>{185,88}</string>
            </dict>
            <key>bt_rents1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,772},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{61,93}</string>
            </dict>
            <key>bt_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{59,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,94}}</string>
                <key>sourceSize</key>
                <string>{59,94}</string>
            </dict>
            <key>bt_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,773},{63,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,92}}</string>
                <key>sourceSize</key>
                <string>{63,92}</string>
            </dict>
            <key>bt_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,586},{185,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,89}}</string>
                <key>sourceSize</key>
                <string>{185,89}</string>
            </dict>
            <key>bt_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,631},{60,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,85}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>bt_upGrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,586},{185,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,88}}</string>
                <key>sourceSize</key>
                <string>{185,88}</string>
            </dict>
            <key>build_bgCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,478},{57,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,78}}</string>
                <key>sourceSize</key>
                <string>{57,78}</string>
            </dict>
            <key>build_daogaoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,739},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>build_jiudianIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,653},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>build_naichaIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,567},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>build_noIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{126,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,146}}</string>
                <key>sourceSize</key>
                <string>{126,146}</string>
            </dict>
            <key>car_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,97},{79,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,59}}</string>
                <key>sourceSize</key>
                <string>{79,59}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,972},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>dongcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,970},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
            <key>gameUI_shopBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,586},{185,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,89}}</string>
                <key>sourceSize</key>
                <string>{185,89}</string>
            </dict>
            <key>gameUI_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,586},{27,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,174}}</string>
                <key>sourceSize</key>
                <string>{27,174}</string>
            </dict>
            <key>hotel_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,567},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>market_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,956},{81,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,63}}</string>
                <key>sourceSize</key>
                <string>{81,63}</string>
            </dict>
            <key>movie_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,177},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>nancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,970},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>sp_alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,253},{224,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,57}}</string>
                <key>sourceSize</key>
                <string>{224,57}</string>
            </dict>
            <key>sp_build3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,567},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>sp_build4.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,933},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>sp_build5.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,847},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>sp_build6.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,761},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>sp_buildall.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,772},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>sp_diam.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,972},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>sp_dock.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,973},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,564}}</string>
                <key>sourceSize</key>
                <string>{960,564}</string>
            </dict>
            <key>sp_getGold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,866},{177,103}}</string>
                <key>offset</key>
                <string>{-4,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{177,103}}</string>
                <key>sourceSize</key>
                <string>{285,205}</string>
            </dict>
            <key>sp_getGold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{279,197}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{279,197}}</string>
                <key>sourceSize</key>
                <string>{285,205}</string>
            </dict>
            <key>sp_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,973},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>sp_samerFrame0.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,772},{93,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>sp_samerFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,772},{93,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,101}</string>
            </dict>
            <key>sp_strip.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,586},{186,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,38}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>sp_upup.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,970},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>stock.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,970},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>undevelop.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,866},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d50705e6f8d6aa53a1549723137477a2:1/1$</string>
            <key>textureFileName</key>
            <string>gameUI.pvr.ccz</string>
        </dict>
    </dict>
</plist>
