<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,310},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>bg_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,189},{120,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,35}}</string>
                <key>sourceSize</key>
                <string>{120,35}</string>
            </dict>
            <key>bg_stock.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{186,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,38}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>build_car.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{159,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,339}}</string>
                <key>sourceSize</key>
                <string>{159,339}</string>
            </dict>
            <key>build_daogao.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,459},{168,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,285}}</string>
                <key>sourceSize</key>
                <string>{168,285}</string>
            </dict>
            <key>build_hotel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,450}}</string>
                <key>sourceSize</key>
                <string>{237,450}</string>
            </dict>
            <key>build_jiudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{200,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,332}}</string>
                <key>sourceSize</key>
                <string>{200,332}</string>
            </dict>
            <key>build_market.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{153,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,422}}</string>
                <key>sourceSize</key>
                <string>{153,422}</string>
            </dict>
            <key>build_movie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{179,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,295}}</string>
                <key>sourceSize</key>
                <string>{179,295}</string>
            </dict>
            <key>build_naicha.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,745},{171,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,242}}</string>
                <key>sourceSize</key>
                <string>{171,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_buliding.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17c5210199812367d11349de1b1384cf:1/1$</string>
            <key>textureFileName</key>
            <string>game_buliding.pvr.ccz</string>
        </dict>
    </dict>
</plist>
